@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #595959;
}

h1 {
    padding-top: 30px;
}

p, h1 {
    padding-right:55%;
    padding-left: 50px;
}

p {
    font-size: larger;
}


.boite {
    margin: 50px 95px;
    display: flex;
    background-color: white;
    justify-content: start;
    border-radius: 10px;
}

.gauche {
    padding-right: auto;
    background-color: #fbdf93;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.droite {
    background-color: white;
    padding: 40px;
    font-size: small;
    padding-top: 65px;
}

.barre {
    padding: 10px 400px 10px 8px;
}

.barre-grosse {
    padding: 10px 400px 100px 8px;
    
}

input { 
    border: 1px solid #d9dee3;
    border-radius: 5px;
    color: #000000;
    text-align: left;
    font-size: 15px;
}

.submit {
    cursor: pointer;
    padding: 15px 30px;
    color: white;
    background-color: #595959;
    margin-top: 15px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    
}

.submit:hover {
    background-color: rgb(112, 112, 112);
}

h3 {
    font-weight: 500;
}
